/* Alerts and form errors used by phx.new */
.alert {
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
}

.alert-info {
	color: #31708f;
	background-color: #d9edf7;
	border-color: #bce8f1;
}

.alert-warning {
	color: #8a6d3b;
	background-color: #fcf8e3;
	border-color: #faebcc;
}

.alert-danger {
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
}

.alert p {
	margin-bottom: 0;
}

.alert:empty {
	display: none;
}

.invalid-feedback {
	color: #a94442;
	display: block;
	margin: -1rem 0 2rem;
}

/* LiveView specific classes for your customization */
.phx-no-feedback.invalid-feedback,
.phx-no-feedback .invalid-feedback {
	display: none;
}

.phx-click-loading {
	opacity: 0.5;
	transition: opacity 1s ease-out;
}

.phx-disconnected {
	cursor: wait;
}

.phx-disconnected * {
	pointer-events: none;
}

.phx-modal {
	opacity: 1 !important;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0 0 0);
	background-color: rgb(0 0 0 / 40%);
}

.phx-modal-content {
	background-color: #fefefe;
	margin: 15vh auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
}

.phx-modal-close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.phx-modal-close:hover,
.phx-modal-close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}


.wrapper {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(4, [col] auto);
	grid-template-rows: repeat(3, [row] auto);
	background-color: #fff;
	color: #444;

}

.wrapper_4x3 {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(4, [col] auto);
	grid-template-rows: repeat(3, [row] auto);
	background-color: #fff;
	color: #444;

}
.wrapper_4x4 {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(4, [col] auto);
	grid-template-rows: repeat(4, [row] auto);
	background-color: #fff;
	color: #444;

}

.wrapper_1x4 {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(4, [col] auto);
	grid-template-rows: repeat(1, [row] auto);
	background-color: #fff;
	color: #444;
}

.box {
	background-color: #444;
	color: #fff;
	border-radius: 5px;
	padding: 20px;
	font-size: 150%;
}

.a {
	grid-column: col / span 2;
	grid-row: row;
}

.b {
	grid-column: col 3 / span 2;
	grid-row: row;
}

.c {
	grid-column: col /span 4;
	grid-row: row 2;
}

.e {
	grid-column: col / span 4;
	grid-row: row 3;
}